.inputs{
   display: flex;
   flex-direction: column;
}

.inputError {
   display: flex;
   align-items: center;
   font-size: 0.9rem;
   height: 1.3rem;
   padding-left: 0.5rem;
   color: var(--error-main);
}
