.card {
   position: sticky;
   top: 20px;
   left: 0;
   height: fit-content;
   z-index: 1;
}

.authorLink {
   align-self: flex-start;
   font-size: 16px;
   color: var(--secondaryLight);
}

.authorLink:hover {
   text-decoration: underline;
}