.ui-select-wrap {
   position: relative;
   display: flex;
   flex-direction: column;
}

.ui-select-wrap button {
   width: 100%;
   text-transform: inherit;
   font: inherit;
}

.ui-select-wrap button svg {
   transition: transform 0.15s linear;
}

.ui-select-wrap .opened button svg {
   transform: rotate(-180deg);
}

.ui-select-options {
   position: absolute;
   top: calc(100% + 4px);
   left: 0;
   display: flex;
   flex-direction: column;
   gap: 1px;
   width: 100%;
   background-color: var(--primaryMain);
   border-radius: 20px;
   border: 1px solid var(--primaryMain);
   overflow: hidden;
   z-index: 50;
}

.ui-select-options * {
   width: 100%;
   text-transform: inherit;
   font: inherit;
}

.ui-select-options > *:not(:first-child) {
   button,
   button > span {
      border-radius: 0;
   }
}

.ui-select-options > *:first-child {
   button,
   button > span {
      border-radius: 20px 20px 0 0;
   }
}

.ui-select-options > *:last-child {
   button,
   button > span {
      border-radius: 0 0 20px 20px;
   }
}
