.ui-input-wrap {
   display: flex;
   align-items: stretch;
   color: var(--secondary-text);
   padding: 2px;
   border-radius: 20px;
   overflow: hidden;
   background-color: var(--secondary-main);
}

.ui-input-wrap.with-сounter {
   .input {
      border-radius: 19px 0 0 19px;
   }
}

.ui-input-wrap.outlined {
   background-image: var(--gradient-main);
}

.ui-input {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 1;
   width: 100%;
   height: 100%;
   padding: 10px 20px;
   border-radius: 19px;
   background-color: var(--secondary-main);
}

.ui-input::placeholder {
   color: var(--secondary-text);
   transition: color 0.15s linear;
}

.ui-input:focus::placeholder {
   color: rgba(0, 0, 0, 0);
}

.ui-input-counter{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-shrink: 0;
   width: 50px;
   margin: 0.5rem 0;
   border-left: 1px solid var(--secondary-text);
   color: var(--secondary-text);
}