.ui-tooltip {
   position: relative;
   display: contents;
}

.ui-tooltip-content {
   position: fixed;
   z-index: 900;
   background-color: #000000;
   color: white;
   opacity: 0.8;
   padding: 6px 8px;
   border-radius: 4px;
   font-size: 14px;
   pointer-events: none;
   transform: translate(calc(-50% + 5px), 95%);
   white-space: nowrap;
}

.ui-tooltip-content-wrap{
   display: contents;
}
