.ui-button-container {
   display: inline-block;
   padding: 2px;
   border-radius: 20px;
   transition: all 0.15s linear;
   background: var(--gradientMain);
}

.ui-button-container:disabled {
   filter: brightness(0.7);
   pointer-events: none;
}

.ui-button-container.disabled {
   filter: brightness(0.7);
   pointer-events: none;
}

.ui-button-container.minWidth {
   min-width: 125px;
}

.ui-button-container.uppercase {
   text-transform: uppercase;
}

.ui-button-content {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   padding: 13px 15px;
   width: 100%;
   min-height: 100%;
   border-radius: 19px;
   transition: all 0.15s linear;
}

.ui-button-content.icon {
   width: 49px;
   padding: 0;
   aspect-ratio: 1 / 1;
}

.ui-button-content svg {
   flex-shrink: 1;
   width: 17px;
   height: auto;
   transition: all 0.15s linear;
}

.ui-button-container.outlined.secondary .ui-button-content {
   background-color: var(--secondaryMain);
   color: var(--secondaryText);
}

.ui-button-container.outlined.secondary svg {
   fill: var(--secondaryText);
   stroke: var(--secondaryText);
}

.ui-button-container.outlined.primary .ui-button-content {
   background-color: var(--secondaryMain);
   color: var(--primaryText);
}

.ui-button-container.outlined.primary svg {
   fill: var(--secondaryText);
   stroke: var(--secondaryText);
}

/* Hover Effect Implementation */
@media (hover: hover) {
   .ui-button-container.outlined.defaultHover:hover:not(:disabled) .ui-button-content {
      background-color: rgba(0, 0, 0, 0);
   }
}

/* Active Effect (for devices without hover) */
@media (hover: none) {
   .ui-button-container.outlined.defaultHover:active .ui-button-content {
      background-color: rgba(0, 0, 0, 0);
   }
}

.ui-button-container.gradient .ui-button-content {
   color: var(--primaryText);
}

/* Hover Effect Implementation */
@media (hover: hover) {
   .ui-button-container.gradient.defaultHover:hover:not(:disabled) span {
      background-color: var(--secondaryMain);
   }
}

/* Active Effect (for devices without hover) */
@media (hover: none) {
   .ui-button-container.gradient.defaultHover:active span {
      background-color: var(--secondaryMain);
   }
}

.ui-button-container.filled.primary {
   box-shadow: 0px 0px 0px 5px var(--secondaryMain) inset;
}

.ui-button-container.filled.primary .ui-button-content {
   background-color: var(--secondaryMain);
   color: var(--primaryText);
}

.ui-button-container.filled.primary svg {
   fill: var(--primaryText);
   stroke: var(--primaryText);
}

.ui-button-container.filled.secondary {
   box-shadow: 0px 0px 0px 5px var(--secondaryMain) inset;
}

.ui-button-container.filled.secondary .ui-button-content {
   background-color: var(--secondaryMain);
   color: var(--secondaryText);
}

.ui-button-container.filled.secondary svg {
   fill: var(--secondaryText);
   stroke: var(--secondaryText);
}

/* Hover Effect Implementation */
@media (hover: hover) {
   .ui-button-container.filled.defaultHover:hover:not(:disabled) {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0) inset;
   }
}

/* Active Effect (for devices without hover) */
@media (hover: none) {
   .ui-button-container.filled.defaultHover:active {
      box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0) inset;
   }
}
