.card {
   position: relative;
   max-width: 500px;
   width: 100%;
   padding: 2px;
   background-image: var(--gradient-main);
   border-radius: 1rem;
   overflow: hidden;
}

.imgWrap {
   position: relative;
   aspect-ratio: 1 / 0.65;
   overflow: hidden;
   border-radius: 0.95rem 0.95rem 0 0;
}

.imgWrap img {
   width: 100%;
   height: 100%;
   filter: brightness(87%);
   object-fit: cover;
}

.info {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   padding: 1rem;
   background-color: var(--secondary-main);
   border-radius: 0 0 0.95rem 0.95rem;
   text-align: center;
}

.isLiked {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 2.5rem;
   height: 2.5rem;
   padding: 0.6rem;
   top: 0.5rem;
   left: 50%;
   transform: translateX(-50%);
   background-color: var(--secondary-main);
   border-radius: 50%;
   z-index: 2;
}

.isLiked svg{
   stroke: rgb(93, 255, 93);
   stroke-width: 2px;
   width: 100%;
   height: auto;
}

.title {
   color: var(--third-light);
   font-family: Philosopher;
   font-weight: 700;
   font-size: 1.2rem;
}

.sceneCount {
   font-size: 0.9rem;
}

.desc {
   font-size: 0.9rem;
}

.startBtn {
   width: 100%;
}

.links{
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

:global(.ui-button-container).linkBtn {
   min-width: 0;
   width: 45px;
   height: 45px;
   border-radius: 1rem;
}

:global(.ui-button-container).linkBtn :global(.ui-button-content) {
   padding: 0;
}

:global(.ui-button-container).linkBtn :global(.ui-button-content) svg {
   width: 20px;
   height: 20px;
}
