.section{
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
}

.header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;
   color: var(--secondaryContrast);
}

.title{
   font-size: 1.9rem;
   font-weight: 700;
}