.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 1rem;
   margin: auto 0;
}

.form input {
   height: 50px;
}

.form a {
   text-align: center;
   color: var(--primary-text);
}

.form a:hover {
   text-decoration: underline;
}

.error {
   text-align: center;
   color: var(--error-main);
}
