:root {
   /* colors */

   --primary-main: #283345;
   --primary-dark: #1A202C;
   --primary-text: #FFFFFF;

   --secondary-main: #1B1E38;
   --secondary-light: #0FA9FF;
   --secondary-text: #FFFFFF;

   --third-main: #FFFFFF;
   --third-text: #000000;
   --third-light: #FA00FF;

   --error-main: rgb(255, 78, 78);

   /* gradients */

   --gradient-main-first: #b14bf4;
   --gradient-main-second: #c82ccb;

   --gradient-main: linear-gradient(90deg, var(--gradient-main-first) 50%, var(--gradient-main-second) 100%);
}
